<%- include("layout/header") %>


    <main class="center">
        <form action="/" method="post">
            <input type="text" name="pLanguage" id="pLanguage" placeholder="programming language">
            <button type="submit">add</button>
        </form>

        <ul>
            <% if(plNames.length>0){ %>
                <!-- <li><%= plNames %></li> -->
                 <% for(let x=0; x<plNames.length; x++){ %>
                    <li><%= plNames[x] %></li>
                 <% } %>
           <% }else{ %>
                <p>No Data found</p>
           <% } %>
        </ul>
    </main>

<%- include("layout/footer") %>


